<p id="notice"><%= notice %></p>

<h1 class="big_header">List of all students:</h1><br><br>
<% if @students %>
  <% @students.each do |s| %>
    <h1><%= s.name %><span class="normal_font left_margin"><%= link_to 'Show', s %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Edit', edit_student_path(s) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Destroy', s, method: :delete, data: { confirm: 'Are you sure?' } %></span></h1>
    <h2>Major: <%= s.major %></h2>
    <h2>Graduation Year: <%= s.grad_year %></h2>
    <h2>Advisor: <%= s.advisor %></h2>
    <br><br>
  <% end %>
<% end %>

<br><br><br><br>

<%= link_to 'New Student', new_student_path %>
