<p id="notice"><%= notice %></p>

<h1 class="big_header">List of all professors:</h1><br><br>
<% if @professors %>
  <% @professors.each do |p| %>
    <h1><%= p.name %><span class="normal_font left_margin"><%= link_to 'Show', p %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Edit', edit_professor_path(p) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' } %></span></h1>
    <h2>Department: <%= p.department.name %></h2>
    <h2>Title: <%= p.title %></h2>
    <h2>Email: <%= p.email %></h2>
    <br><br>
  <% end %>
<% end %>

<br><br><br><br>

<%= link_to 'New Professor', new_professor_path %>
