<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<%= form_with(model: @course) do |form| %>

  <div class="field">
    <%= form.label :select_a_department %>
    <%= form.select :department, @options %>
  </div>

<% end %>

<% if @courses %>
  <% @courses.each do |course| %>
    <%= :department %>
    <% if course.department.name == :department %>
      <%= @courses[0].name %>
      <h1><%= course.name %></h1>
    <% end %>
  <% end %>
<% end %>

<!--
        <td><#%= link_to 'Show', course %></td>
        <td><#%= link_to 'Edit', edit_course_path(course) %></td>
        <td><#%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->
<br>

<%= link_to 'New Course', new_course_path %>
